<div class="jumbotron">
    <div class="container text-center">
        <h1>BackBench Innovations App</h1>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>

        <div class="btn-group">
            <a href="" class="btn btn-md btn-success">Register</a>
            <a href="" class="btn btn-md btn-default">Visit Site</a>
            <a href="" class="btn btn-md btn-warning">Login</a>
        </div>

    </div> <!-- End Container -->
</div> <!-- End Jumbotron -->

<div class="container">
    <div class="text-center">
        <h2>Site HighLights <br>
            <small>"There is no one who loves pain itself, who seeks after it and wants to have it, simply because it is pain..."</small>
        </h2>
    </div>
    <div class="row  text-justify">
        <div class="col-lg-4">
            <blockquote>
                <p>
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                    Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                    when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                </p>
                <footer>Lorem Ipsum</footer>
            </blockquote>
        </div>
        <div class="col-lg-4">
            <blockquote>
                <p>
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                    Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                    when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                </p>
                <footer>Lorem Ipsum</footer>
            </blockquote>
        </div>
        <div class="col-lg-4">
            <blockquote>
                <p>
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                    Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                    when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                </p>
                <footer>Lorem Ipsum</footer>
            </blockquote>
        </div>
    </div>
</div>

<section>
    <div class="well">
        <div class="container text-center">
            <h3>Subscribe for latest alerts about our awesome site</h3>
            <p>Enter your name and email</p>
            <form action="" class="form-inline">
                <div class="form-group">
                    <label class="control-label" for="subscription">Subscribe</label>
                    <input type="text" class="form-control" id="subscription" placeholder="Your Name">
                </div>
                <div class="form-group">
                    <label class="control-label" for="email">Email Address</label>
                    <input type="text" class="form-control" id="email" placeholder="Enter your email">
                </div>
                <button type="submit" class="btn btn-default">Subscribe</button>
            </form>

        </div>
    </div>
</section>