<?xml version="1.0" encoding="UTF-8"?>

<configuration scan="1s">

    <jmxConfigurator/>
    <contextName>ranu-mobile</contextName>

    <property name="PATTERN" value="%d{dd.MM.yyyy HH:mm:ss.SSS} [%thread] %-5level %logger{35} - %msg%n"/>

    <appender name="STDFILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <filter class="ch.qos.logback.core.filter.EvaluatorFilter">
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
        <file>logs/ranu-mobile.log</file>
        <append>true</append>
        <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
            <fileNamePattern>logs/ranu-mobile.log.%i.gz</fileNamePattern>
            <minIndex>1</minIndex>
            <maxIndex>10</maxIndex>
        </rollingPolicy>
        <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
            <MaxFileSize>50MB</MaxFileSize>
        </triggeringPolicy>
        <encoder>
            <pattern>${PATTERN}</pattern>
        </encoder>
    </appender>

    <appender name="DEBUG" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <filter class="ch.qos.logback.core.filter.EvaluatorFilter">
            <evaluator>
                <expression>
                    if (level >= DEBUG) {
                    if (logger.startsWith("org.hibernate.engine.Collections")) {
                    return level >= INFO;
                    }
                    return true;
                    }
                    return false;
                </expression>
            </evaluator>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
        <File>logs/ranu-mobile.log</File>
        <Append>true</Append>
        <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
            <FileNamePattern>logs/ranu-mobile.log.%i</FileNamePattern>
            <MinIndex>1</MinIndex>
            <MaxIndex>10</MaxIndex>
        </rollingPolicy>
        <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
            <MaxFileSize>50MB</MaxFileSize>
        </triggeringPolicy>
        <encoder>
            <pattern>${PATTERN}</pattern>
        </encoder>
    </appender>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <filter class="ch.qos.logback.core.filter.EvaluatorFilter">
            <evaluator>
                <expression>
                    if (level >= DEBUG) {
                    if (logger.startsWith("org.hibernate.engine.Collections")) {
                    return level >= INFO;
                    }
                    return true;
                    }
                    return false;
                </expression>
            </evaluator>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
        <encoder>
            <pattern>${PATTERN}</pattern>
        </encoder>
    </appender>

    <logger level="INFO" name="org.apache.tomcat.util"/>
    <logger level="WARN" name="com.jolbox.bonecp"/>
    <logger level="WARN" name="org.eclipse.jetty"/>
    <logger level="WARN" name="org.hibernate"/>
    <logger level="WARN" name="org.springframework"/>
    <logger level="WARN" name="org.apache.axis"/>
    <logger level="WARN" name="org.apache.jasper"/>
    <logger level="WARN" name="jndi"/>

    <root level="INFO">
        <appender-ref ref="STDFILE"/>
    </root>
</configuration>

