<div ng-cloak class="panel-group">
    <div class="row form-group form-group-sm">
        <accordion close-others="oneAtATime">

        <accordion-group is-open="status.openCustomer">
            <accordion-heading >
                <div ui-sref="addJob.customer">
                    <strong>{{ 'jyotimobile.customer.header' | translate }}</strong>
                    <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.openCustomer, 'glyphicon-chevron-right': !status.openCustomer}">
                    </i>
                </div>
            </accordion-heading>
               <div ui-view="customer"></div>
        </accordion-group>

        <accordion-group is-open="status.openAddJob">
            <accordion-heading>
                <div ui-sref="addJob.jobDetails">
                <strong>{{ 'jyotimobile.job.addjob.header' | translate }}</strong>
                <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.openAddJob, 'glyphicon-chevron-right': !status.openAddJob}">
                </i>
                    </div>
            </accordion-heading>
            <div ui-view="jobDetails"></div>
        </accordion-group>

        <accordion-group is-open="status.openMobile">
            <accordion-heading>
                <div ui-sref="addJob.mobileDetails">
                <strong>{{ 'jyotimobile.mobile.header' | translate }}</strong>
                <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.openMobile, 'glyphicon-chevron-right': !status.openMobile}">
                </i>
                    </div>
            </accordion-heading>
            <div ui-view="mobileDetails"></div>
        </accordion-group>
    </accordion>
    </div>
</div>